.item{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  font-size: 2rem;
  width: 15rem;
  height: 15rem;
  border: 1px solid red;
  border-radius: 1.5rem;
}

.list {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  gap: 1rem;
  justify-items: center;
  justify-content: center;
}