.container {
  width: 100vw;
  height: 125px;
  display: flex;
  align-items: center;
}

.logo {
  width: 10vw;
}

.title {
  font-size: 2.5rem;
  width: 20vw;
}

.navigate {
  width: 70vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  list-style-type: none;
  font-size: 2.0rem;
  padding-right: 2.5rem;
}

.item {
  text-decoration: none;
}